.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculadora{
  border: 2px solid darkorange;
  border-radius: 5px;
  padding: 5px;
  background-color: darkslateblue;
}

#display{
  background-color: black;
  text-align: right;
  margin-bottom: 10px;
  border-radius: 5px;
}

#botones{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

#cadena{
  color: orange;
  margin: 0px;
  padding-right: 5px;
}

#resultado{
  color: white;
  font-size: 25px;
  padding-right: 5px;
}

button{
  min-height: 50px;
  min-width: 60px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  background-color: white;
}

.botonIgual{
  grid-column: 4 / 5;
  grid-row: 4 / 6;
  color: white;
  background-color: forestgreen;
}

.botonLimpiar{
  grid-column: 1 / 4;
  color: white;
  background-color: darkred;
}

.botonOperacion{
  background-color: #e7e7e7;
}
