.App {
  background-color: #282c34;
  min-height: 100vh;
}

#display{
  background-color: black;
  text-align: right;
}

#cadena{
  color: orange;
  margin: 0px;
}

#resultado{
  color: white;
  font-size: 25px;
}
